body > p{
	font-size: 2em;
}
.child{
	padding: 0 8%;

}
.topnav a, button{
	font-size: .9em;
}
.intro{
	font-size: 2.5em;
}

.fontSmaller{
	font-size: 1em;
}

.Phil{
	width: 80%;
	height: auto;
	display: inline-flex;
	padding: 10px 10%;
	justify-content: center;
	align-content: center;
}

.radius{
	border-radius: 15%;
}

.gallery > img{
	padding: 10px 5px;
	width: 300px;
	display: inline-flex;
	flex-wrap: all;
}
.gallery > img:hover{
	
  z-index: 99;

  transform: scale(2.5);
}

.feesImg{
	width: 350px;
	height: auto;
}